.sum{
    background-color: none;
    border: rgb(100, 133, 243);
}
.agregar{
background-color: none;
border:none;
margin-left: 5px;
}
.count{
    margin-left:120px;
}
.sum{
    border-radius: 50%;
    margin-right: 10px;
}
.res{
    border-radius: 50%;
    background-color: none;
    border: rgb(100, 133, 243);
    margin-left: 10px;
    padding-left: 8px;
    padding-right: 8px;
}
.agregar{
    border-radius: 20px;
    background-color: #FF7E67;
    color: whitesmoke;
    margin-left: 30px;
}
.terminar{
    border-radius: 20px;
    background-color: whitesmoke;
    color: rgb(17, 17, 17);
    margin-left: 30px;
    border: none;
}
.contSumRest{
    background-color:#07689F ;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    padding: 5px 5px 5px 5px;
    color: whitesmoke;
}


.sum{
    border-radius: 5px;
}
.res{
    border-radius: 5px;
}
.count{
    display: flex;
   justify-content: center;
}