

.iconCart{
    width: 30px;
   
  }
  .imgLogo{
    width: 40px;
  }
  .iconSesion{
    width: 30px;
  }
  .btn-primary{
      background-color: #07689F !important;
      border-color:none ;
    &:hover{
        background-color: #053e5f !important;
    }
  }
  .link{
    text-decoration:none;
    font-family:'Syncopate' ;
    color:#E9E7E7 ;
    font-size:1rem;
    
        
    
}
.link:hover{
    color:#D0CDCD;
}