

.iconCart{
    width: 30px;
   
  }
  .imgLogo{
    width: 40px;
  }
  .iconSesion{
    width: 30px;
  }
  .btn-primary{
      background-color: #07689F !important;
      border-color:none ;
    &:hover{
        background-color: #053e5f !important;
    }
  }